.hero-mega-container {
	background-image: url('../../assets/Home/Hero/aventador.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.hero-container {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 896px;
	padding: 0 96px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.hero-subtitle-container {
	display: flex;
	align-items: center;
	gap: 16px;
}

.divider {
	width: 45px;
	height: 1px;
	flex-shrink: 0;
}

.hero-subtitle {
	font-size: 12px;
	size: 10px;
	font-style: bold;
	letter-spacing: 4px;
	color: var(--text-secondary);
	font-family: Manrope;
	align-self: center;
}

.hero-heading {
	width: 100%;
}

.heading {
	font-family: Manrope;
	font-weight: 800;
	font-style: bold;
	font-size: 128px;
	line-height: 128px;
	letter-spacing: 0;
	color: var(--text-primary);
}

.heading-highlight {
	color: var(--text-secondary);
}

.hero-text-container {
	width: 576px;
	width: 100%;
}

.hero-text {
	font-family: Inter;
	font-weight: 300;
	font-style: light;
	font-size: 18px;
	letter-spacing: 0px;
	color: #c4c7c7;
}

.hero-btn-container {
	display: flex;
	flex-wrap: wrap;
	padding-top: 24px;
	gap: 32px;
}

.hero-quicksearch {
	position: absolute;
	bottom: 40px;
	right: 40px;
}

/* Responsivo */
@media (max-width: 768px) {
	.hero-container {
		padding: 0 32px;
	}

	.hero-text {
		font-size: 16px;
	}

	.hero-btn-container {
		flex-direction: column;
		gap: 16px;
	}

	.hero-quicksearch {
		position: relative;
		bottom: auto;
		right: auto;
		margin: 0 32px 40px;
	}
}

@media (max-width: 480px) {
	.hero-container {
		padding: 0 20px;
	}

	.hero-quicksearch {
		margin: 0 20px 32px;
	}
}
