.SmallCard {
  grid-column: span 4;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-family: Manrope;
  height: 100%;
}

.SmallCard-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	opacity: 0.8;
}

.SmallCard-arrow {
	position: absolute;
	top: 14px;
	right: 14px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #ffffff4d;
	border: 0.5px solid #C4C7C7;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: var(--text-primary);
}

.SmallCard-content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 16px 18px;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3) 55%, transparent 100%);
}

.SmallCard-title {
	margin: 0 0 8px;
	font-size: 16px;
	font-weight: 700;
	color: var(--text-primary);
	letter-spacing: -0.02em;
	line-height: 1.15;
    font-family: Manrope;
}

.SmallCard-price {
	font-size: 16px;
	font-weight: 700;
	color: var(--text-secondary);
	margin-bottom: 6px;
}

.SmallCard-details {
	display: flex;
	gap: 6px;
	flex-wrap: wrap;
}

.SmallCard-detail {
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	padding: 3px 10px;
	border-radius: 20px;
	border: 0.5px solid #ffffff4d;
	color: #C4C7C7;
}
