.footer {
	width: 100%;
	background: #0c0e10;
	margin-top: auto;
	position: relative;
}
.footer-mega-container {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	row-gap: 48px;
	column-gap: 40px;
	padding: 80px 50px 40px 50px;
}

.footer-container {
	width: 100%;
	max-width: 260px;
	display: flex;
	flex-direction: column;
}

.footer-logo {
	color: var(--text-secondary);
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0px;
	padding-bottom: 20px;
	font-family: inter;
}

.footer-text-content {
	padding-bottom: 0.63px;
}

.footer-text {
	color: var(--text-primary);
	font-size: 14px;
	line-height: 22.75px;
	letter-spacing: 0.35px;
	font-family: inter;
}

.footer-title {
	font-size: 16px;
	letter-spacing: 2.4px;
	color: var(--text-primary);
	padding-bottom: 20px;
	font-family: Manrope;
}

.footer-list {
	color: var(--text-primary);
	list-style: none;
	padding-top: 2.5px;
	padding-bottom: 1.5px;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-size: 14px;
	letter-spacing: 0.35px;
	line-height: 20px;
	cursor: pointer;
	font-family: inter;
}

.footer-list li:hover {
	color: var(--text-secondary);
}

.footer-newsletter-text {
	width: 260px;
}

.newsletter {
	display: flex;
	gap: 8px;
	margin-top: 20px;
}

.newsletter-input {
	flex: 1;
	height: 39px;
	padding-top: 12px;
	padding-right: 16px;
	padding-bottom: 12px;
	padding-left: 12px;
	background: #282a2c;
	border: 1px solid #4447481a;
	border-radius: 4px;
	outline: none;
	letter-spacing: 0px;
	font-family: inter;
}

input::placeholder {
	color: #6b7280;
}

.newsletter-btn {
	background: var(--text-secondary);
	border-radius: 4px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-left: 10px;
	border: none;
	width: 41.33px;
	height: 39px;
	cursor: pointer;
	font-size: 18px;
}

.newsletter-btn-icone {
	width: 9px;
	height: 9px;
	color: #412d00;
}

.horizontal-border-container {
	border-top: 1px #4447480d;
	text-align: center;

	padding-top: 32px;
	padding-bottom: 32px;
}

.horizontal-border-text {
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.35px;
	text-align: center;
	color: var(--text-tertiary);
}




